.main{
    position: relative;
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    scroll-behavior: smooth;
}

.main .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .navlogo{
    display: flex;
    align-items: center;
}
.navlogo p{
    font-size: 15px;
    padding-right: 8px;
}
.navlogo img{
    cursor: pointer;
}

.main img{
    border-radius: 50%;
    width: 40px;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    font-weight: 500;
    font-size: 56px;
    margin: 5px 0;
    color: #c4c7c5;
    padding: 20px;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    background-clip: initial;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
    padding-bottom: 50px;
}

.main .card{
    height: 200px;
    padding: 15px;
    background: #f0f4f9;
    position: relative;
    cursor: pointer;
    border-radius: 10px; 
}

.main .cards .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    border-radius: 20px;
    background: white;
    bottom: 10px;
    right: 10px;
}
.main .card p{
    font-size: 17px;
    color: #585858;
}
.main .card:hover{
    background-color: #dfe4ea;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    max-width: 900px;
    width: 100%;
    padding: 0 20px;
    margin: auto;
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #f0f4f9;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1px;
    outline: none;
    border: none;
    background: transparent;
    padding: 8px;
    font-size: 18px;
    
}

.search-box div{
    display: flex;
    gap: 15px;
    align-items: center;
}

.main .bottom-info{
    font-size: 13px;
    text-align: center;
    margin: 15px auto;
    font-weight: 300;
}

.result{
    padding: 0 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    display: flex;
    margin: 40px 0;
    align-items: center;
    gap: 20px;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

.result-data p{
font-size: 17px;
font-weight: 300;
line-height: 1.8;
}

.loader{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background: #f6f7f8;
    background: linear-gradient(to right,#3f77e6,#ffffff,#3f77e6);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 2s infinite linear;
}
.loader hr:nth-child(3){
    width: 70%;
}

@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position:800px 0px ;
    }
}

@media (max-width:600px) {
    .main-bottom input{
        width: 150px;
        flex: none;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
    .main .greet{
        margin: 20px 0;
    }
}